.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  .logo{
    width: 82px;
    height: 88px;
  }
  .spinner{
    display: flex;
    flex-direction: row;
    gap:15px;
   .spinner__text{
     text-transform: uppercase;
     align-self: center;
   }
  }
}